.container {
    width: 100vw;
    padding: 20px 30px;
    box-sizing: border-box;
}
.inner {
    height: 300px;
    border-radius: 20px;
    background: yellowgreen;
    position: relative;
    padding-left: 140px;
    padding-top: 30px;
    box-sizing: border-box;
    @include flex_column;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    > image {
        width: 160px;
        height: 160px;
        position: absolute;
        top: -10px;
        right: -5px;
    }
    .weather, .temperature {
        font-size: 60px;
        color: white;
        letter-spacing: 2px;
    }
}