.title {
    width: 100vw;
    height: 70px;
    line-height: 70px;
    padding: 15px 0;
    text-align: center;
    background-color: $theme_color;
    font-size: 36px;
    color: #000;
    letter-spacing: 6px;
    font-weight: 600;
}